<div class="flex-fill d-flex flex-column mb-3">
    <form [formGroup]="form" submit="return false;">
        <div class="d-flex align-items-center">
            <mat-form-field class="flex-fill">
                <mat-label>AI assistant</mat-label>
                <input matInput type="text" formControlName="message" placeholder="Enter your message" />
                <button mat-icon-button matSuffix (click)="submit()">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </form>
    <!--textarea style="min-height: 500px;">{{result}}</textarea-->
    <iframe class="bg-light" [srcdoc]="result"></iframe>
    TODO:
    <ul>
        <li>Long-term memory</li>
        <li>Tools - Atlas Text & Vector search</li>
    </ul>
</div>